In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [5]:
df=pd.read_csv('taxxi.csv')

In [6]:
df.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [7]:
df_x=df.iloc[:,0:-1].values

In [9]:
df_y=df.iloc[:,-1].values

In [13]:
df_y

array([192000, 190400, 191200, 177600, 176800, 178400, 180800, 175200,
       174400, 173920, 172800, 163200, 161600, 161600, 160800, 159200,
       148800, 115696, 147200, 150400, 152000, 136000, 126240, 123888,
       126080, 151680, 152800], dtype=int64)

In [19]:
X_train,X_test,y_train,y_test=train_test_split(df_x,df_y,test_size=0.3,random_state=0)

In [21]:
reg=LinearRegression()
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [25]:
print("Train Score:",reg.score(X_train,y_train))
print("Teat Score",reg.score(X_test,y_test))

Train Score: 0.9428364724316813
Teat Score 0.9157379222488221

In [26]:
pickle.dump(reg,open('taxi.pkl','wb'))

In [27]:
model=pickle.load(open('taxi.pkl','rb'))

In [29]:
a=model.predict([[80,1770000,6000,85]])

In [30]:
a

array([153448.45038985])